main {

    h1 {
        text-align: center;
        margin-block: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        font-size: $h1-fs;
    }

    h2 {
        font-weight: 700;
    }

    #sponsors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        min-height: 10rem;
        justify-content: space-around;
        align-items: center;
        column-gap: 2.5rem;
        row-gap: .5rem;
        padding-inline: 1rem;

        img {
            filter: grayscale(50%);
            width: 90px;
        }
    }

    #about {
        padding-bottom: 1rem;
        background-color: $dark-bg;
        color: $on-dark-bg;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        p {
            margin-block: 1rem;
            min-width: 280px;
            font-size: 1.25rem;
        }
    }

    #artworks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .aw-wrapper {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(2, auto);
            gap: .5rem;
            margin-block: 1rem;
            padding-inline: 1rem;

            align-items: center;
            justify-content: center;
        }

        .item img {
            width: 20vw;
            height: 20vw;
        }

        .check-more {
            margin-block: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper {
            width: 75vw;
            height: 100%;
            max-height: min(100%, 580px);
            color: $on-dark-bg;
            font-weight: 900;
        }

        .swiper-slide {
            text-align: center;
            font-size: 1rem;
            background: transparent;
            border-radius: 1rem;
            box-shadow: 0 0 5px -1px $on-dark-bg;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            width: 90vw;
            height: 100vw;
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: $on-dark-bg;
            font-size: 2rem;
        }
    }

    #roadmap {

        .rm-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-block: 1rem;

        }

        .rm-list {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .rm-item {
            display: grid;
            grid-template-rows: repeat(2, 50%);
            padding: 1rem;
            width: fit-content;
            @include break-up(desktop){
                max-width: 75%;
            }
        }

        .rm-title {
            text-align: left;
            padding-inline: 2rem;
            margin-bottom: 1rem;
            font-size: 20px;
            font-weight: 700;
        }

        .rm-details {
            text-align: left;
            margin-left: 5rem;
            padding-inline: 2rem;
            font-size: 18px;

            ul {
                list-style: none;
            }

            li {
                display: flex;

                &::before {
                    content: '✓';
                    margin-right: 1rem;
                }
            }
        }
    }

    #leaders {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .ldr-wrapper {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
            align-items: center;
            justify-content: center;
            row-gap: 3rem;
            column-gap: 3rem;
            padding-block: 1rem;
        }

        .ldr {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
        }

        .pic {
            width: 200px;
            height: 200px;
            border-radius: 1rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .follow {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 1rem;

                position: relative;
                top: calc(100% - 40px);
                left: 0;

                width: 100%;
                height: 40px;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;

                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        .name {
            text-align: center;
            margin-block: .5rem;
            font-size: $h2-fs;
            font-weight: 900;
        }

        .pos {
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
            width: 100%;
        }

        .team-slide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        .slide-ldr {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: $dark-bg;
            padding-block: 1rem;
        }

        .slide-pic {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            position: relative;
            width: 300px;
            height: 300px;
            border-radius: 1rem;
        }

        .slide-follow {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 1rem;

            width: 100%;
            height: 50px;

            position: absolute;
            top: calc(100% - 50px);

            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;

            background-color: rgba(0, 0, 0, 0.5);

            a {
                padding-block: 1rem;
            }

            img {
                width: 2rem;
                height: 2rem;
            }
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            color: $on-light-bg;
            font-size: 2rem !important;
        }
    }

    #faq {
        padding: 1rem;
        background-color: $dark-bg;
        color: $on-dark-bg;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .faq-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .item {
            padding: 1rem;
            width: 100%;
        }

        .q {
            font-size: $h2-fs;
            font-weight: $h1-fw;
            margin-bottom: .5rem;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            cursor: pointer;

            i {
                font-weight: $text-fw;
                width: fit-content;
                margin-left: 1rem;
            }
        }

        .a {
            margin-left: 1rem;
            transition: all .2s ease-in;
            display: none;
        }
    }
}