$light-bg: #FFFEF9;
$on-light-bg: #202020;

$dark-bg: #202020;
$on-dark-bg: #fff;

$h1-fs: 2.5rem;
$h2-fs: 1.5rem;
$h3-fs: 1.25rem;

$h1-fw: 900;
$h2-fw: 700;
$h3-fw: 500;

$text-fs: 1rem;
$text-fw: 300;

$h-ff: 'Carter One', cursive !important;
$text-ff: 'Lato', sans-serif !important;

$shadow: 0 0 5px -1px $on-dark-bg;
